---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  subtitle: string;
  slug: string;
}

const { title, subtitle, slug } = Astro.props;
---

<BaseLayout title={`${title} — crosssections`} stylesheets={["/styles/www.css"]}>
  <Header slug={slug} section="www" />

  <main class="page">
    <header class="page-header">
      <h1>{title}</h1>
      <p>{subtitle}</p>
    </header>

    <slot />
  </main>
</BaseLayout>
